<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6UJ8IlzZMxii00oosXh0cxIInbfByuzM</string>
	<key>GCM_SENDER_ID</key>
	<string>951482436258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nurtitionApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>nutrition-app-8dbf7</string>
	<key>STORAGE_BUCKET</key>
	<string>nutrition-app-8dbf7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951482436258:ios:b9c08bdaa4d5686b6765fb</string>
</dict>
</plist>